<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<title>{{ page.title }}</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
   		<meta name="author" content="">
   		<link rel="stylesheet" type="text/css" href="{{ base.url }}/bootstrap/css/bootstrap.min.css"></link>
   		<style>
		    body {
		    	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		    }
	    </style>
		<script src="{{ base.url }}/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="{{ base.url }}">Sample</a>
					<ul class="nav">
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			{{ content }}
			<footer>
				<a href="https://twitter.com/oblakeerickson">Twitter</a> | <a href="https://github.com/oblakeerickson">GitHub</a>
			</footer>
		</div>
	</body>
</html>